<div class="row">
  <div class="col-md-3">
      <span class="title-img d-none d-md-block"></span>
  </div>
  <div class="col-md-7">
    <div class="jumbotron">
      <h1 class="display-3">Welcome to Ice Dragon</h1>
      <p class="lead blockquote">
        The Ice Dragon is a mystical creature that is known to tear down paywalls and liberate the web from advertisement.
      </p>
      <hr class="my-4" />
      <div *ngIf="!isAuthenticated()">
        <div *ngIf="webLN">
          <p class="lead">
            Congratulations, you have WebLN enabled, your node Public Key is
            <code>{{ info?.node?.pubkey }}</code
            >!
            <br />
            Very nice, you can now log in with your node.<br /><br />
          </p>

          <p class="lead">
            <button class="btn btn-primary btn-lg" (click)="loginReckless()">
              <fa-icon [icon]="'sign-in-alt'"></fa-icon>
              <span>#reckless login</span>
            </button>
          </p>
        </div>
        <div *ngIf="!webLN">
          <p class="lead">
            You don't seem to have the <a href="https://github.com/joule-labs/joule-extension">Joule Extension</a> installed or enabled in
            your browser.<br /><br />
            Please <a routerLink="register">create an account</a> the old fashioned way.<br />
            If you already have an account, please log in to see the list of content providers.
          </p>
          <p class="lead">
            <button class="btn btn-primary btn-lg" (click)="login()">
              <fa-icon [icon]="'sign-in-alt'"></fa-icon>
              <span>Login</span>
            </button>
          </p>
        </div>
      </div>

      <div *ngIf="isAuthenticated()">
        <p>
          Welcome to the Ice Dragon platform, user <code>{{ account?.login }}</code>
          .
        </p>
      </div>
    </div>

    <div *ngIf="!isAuthenticated()">
      <h2>What is Ice Dragon?</h2>

      Ice Dragon is a platform that has the goal of helping both the end user and the producers of content to get a much more pleasant
      experience when using the web. Its two main goals are:
      <ul>
        <li>Incentivise content creation by directly facilitating payments between end users and content providers</li>
        <li>Avoid inefficiencies of the current financial system by allowing micro payments through the Bitcoin Lightning Network</li>
      </ul>

      <h3>For end users</h3>
      Do you sometimes feel like you, as an user, have become the product of the web as it currently works? You have to consume massive
      amounts of advertisement (or get harassed for using an Ad Blocker) and give away your personal information for free almost everywhere
      you go?<br /><br />
      Ice Dragon is a platform that aims to incentivise end users to pay small amounts of money for the content they consume. As a paying
      customer you can then expect a streamlined and advertisement free experience. Also, we believe that you should be able to pay for a
      content subscription without revealing any personal information about you or your credit card.<br />
      The Ice Dragon platform lists compatible content providers and allows you to pay for their services easily with Bitcoin over the
      Lightning Network.
      <h4>Why you should use Ice Dragon to pay for content:</h4>
      <ul>
        <li>
          You can register completely pseudonymous by using your Lightning Network node (the node's public is your identity, signing a
          message wit the node is your password)
        </li>
        <li>You can see a list of all content providers and easily pay for any duration you want to use their service for</li>
        <li>
          After you pay for a provider's content, you can visit their website and use everything without seeing any advertisement or hitting
          an paywalls
        </li>
        <li>
          There is no need for the content provider to identify you or ask for personal information, you just give them the proof-of-payment
          in form of a browser cookie
        </li>
        <li>You can choose how much you pay by choosing the duration of your subscription in hours</li>
      </ul>

      <h3>For content providers</h3>
      As the creator of valuable content that users want to consume, you should be paid a fair price for your work. But it's hard to get
      paid for a page visit or an article alone because such small value transfers are very expensive when using Credit Cards for example.
      The Credit Card company ends up getting more money than you do for a payment.<br />
      With the Lightning Network direct micro payments with no intermediaries are possible. So you can get an end user to pay for as little
      as one hour of visiting your page and in exchange deliver her/him an advertisement and paywall free experience. The paid amount goes
      directly to you and is settled immediately.
      <h4>Why you should use Ice Dragon to get paid for your content:</h4>
      <ul>
        <li>
          It's very easy to set up to work with your blog or news website. You just register your website with Ice Dragon and install two
          very simple scripts.<br/>
            See <a href="https://github.com/puzzle/ice-dragon/blob/master/content-provider-scripts/README.md">this README</a> for more information.
        </li>
        <li>If you have your own Lightning Network node, payments will go directly to your node</li>
        <li>If you don't have your own node yet, we will hold on to your balance until you are ready to withdraw it to your wallet</li>
        <li>
          You can set the price for an one hour of advertisement free and paywall free visit to your website. We multiply this price by
          however many hours the user wants to pay for.
        </li>
        <li>You don't need to set up any account/subscription database for your users but can get paid immediately</li>
        <li>You respect the privacy of your users because you don't need to identify them</li>
        <li>You will get paid in Bitcoin, the most sound money on earth</li>
      </ul>
    </div>

    <div *ngIf="isAuthenticated() && platforms && platforms.length > 0">
      <h2>Registered services</h2>
      <p>
        Subscribe to any of the following websites to visit and consume their content advertisement and paywall free.
      </p>
      <div class="list-group">
        <div *ngFor="let platform of platforms" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ platform.name }}</h5>
            <small>{{ platform.amountPerHour }} sat/hour</small>
          </div>
          <div class="mb-1">
              <div *ngIf="hasSubscription(platform)">
                  <fa-icon icon="check"></fa-icon> &nbsp; You have already subscribed to this service! Visit <br />
              </div>
              <a [href]="platform.contentUrl" target="_blank">{{ platform.contentUrl }}</a>
            <div class="right" style="text-align: right;" *ngIf="!hasSubscription(platform)">
              <button class="btn btn-primary" (click)="subscribe(platform)">Subscribe</button>
            </div>
              <div class="right" style="text-align: right;" *ngIf="hasSubscription(platform) && !platform.refreshed">
                  <button class="btn btn-primary" (click)="activate(platform)">Activate</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
