<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9" *ngIf="!isAuthenticated()">
        <div *ngIf="webLN">
            You have WebLN enabled, your node Public Key is <code>{{info?.node?.pubkey}}</code>!<br/>
            Very nice, you can now log in with our node.<br/><br/>

            <button (click)="loginReckless()">Login #reckless</button>
        </div>
        <div *ngIf="!webLN">
            No WebLN :-(
        </div>
    </div>
    <div class="col-md-9" *ngIf="isAuthenticated()">
        Welcome to the Ice Dragon platform, user <code>{{account.login}}</code>.
    </div>
</div>
